@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Header */
header {
  height: 7vh;
  background-color: aqua;
}
/* End Header */
/* Main */
main {
  height: 100%;
  width: 100%;
  /* position: relative; */
}
/* End Main */
/* Page1 */
.page-1 {
  display: flex;
  height: 93vh;
  position: relative;
  /* width: 100vw; */
  width: 100%;
  /* overflow: hidden; */
}
.page-1 .container {
  height: 100%;
  width: 100%;

  /* d  isplay: flex; */
  overflow: hidden;
  scroll-behavior: smooth;
}
.slides {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  /* --- */
  padding: 20vh 0;
}
.slides > p {
  font-size: 12vmin;
  mix-blend-mode: overlay;
}
aside {
  /* float: left; */
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  gap: 10px;
  top: 45%;
  right: 1%;
  /* background-color: brown; */
}
aside button {
  border: 0;
  height: 16px;
  width: 16px;
  border-radius: 12px;
  opacity: 0.5;
  background-color: black;
}

aside button:focus {
  opacity: 1;
}
/*End  Page1 */
/* Page2 */
.page-2 {
  /* background-color: brown; */
  /* height: 100vh; */
  padding: 5.7vh 3.3vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-2 .container {
  width: 92vw;
}
.page-2 .card-container {
  display: flex;
  gap: 1%;
}
.page-2 img {
  width: 30vw; /*100%*/
  /* object-fit: fill; */
  height: 70vh; /*60*/
  vertical-align: bottom;
  /* object-fit: cover; */
  border-radius: 15px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 6px;
  /* width: 30vw; */
}
.page-2 .img,
.up-img,
.down-img {
  position: relative;
}
.img > button,
.up-img > button,
.down-img > button {
  position: absolute;
  top: 2%;
  right: 2%;
  padding: 1vh 1vw;
  color: blueviolet;
  border: none;
  border-radius: 1vw;
}

.page-2 .text-bottom,
.text-bottom-mid {
  position: absolute;
  bottom: 2%;
  left: 2%;
  right: 1%;
  color: blanchedalmond;
}
.page-2 .mid {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.mid img {
  height: 34.6vh; /*30*/
  /* width: 100%; */
  width: 30vw;
}
/* .page-2 h1 {
  font-weight: 600;
  font-size: 3vw;
} */
.text-align-center {
  text-align: center;
  /* line-height: 2; */
  margin: 1% 0;
}
/* End Page2 */
/* Page3 */
.page-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  padding: 11.5vh 4.2vw;
  width: 100%;
  /* background-color: blueviolet; */
}
.page3-container section {
  width: 90vw;
  display: flex;
  align-items: center;
}
.page3-container .left,
.page3-container .right {
  width: 50%;
}
.img-travel img {
  width: 100%;
  vertical-align: bottom;
  object-fit: contain;
}
/* -- */
.vmin3 {
  font-size: 3vmin;
}
.vmin6 {
  font-size: 6vmin;
}
/* -- */
.page3-container .right {
  padding: 3vw 0 3vw 3vw;
}
.points {
  display: flex;
  align-items: center;
  column-gap: 2vw;
}
.point-container {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  gap: 3vh;
}
.points-image {
  height: 6vmin;
  border: none;
}
.points-image img {
  height: 100%;
}
/* End Page3 */
/* Page4 */
.page-4 {
  /* height: 100vh;
  width: 100%; */
  /* background-color: blueviolet; */
  /* padding: 3vh 3vw; */
  padding: 8.2vh 11vw;
}
.page4-container {
  display: flex;
  gap: 2vw;
  justify-content: center;
}
.destinations {
  width: 24vw;
  background-color: azure;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 6px;
}
.dest-text {
  height: 10vh;
  display: flex;
  flex-direction: column;
  gap: 1vmin;
}
.dest-img img {
  height: 55vh;
  width: 100%;
  object-fit: cover;
  /* vertical-align: bottom; */
  /* width: 100%; */
  /* object-fit: contain; */
}
.dest-text .head-line {
  display: flex;
  justify-content: space-between;
  padding: 0 4%;
}
/* End Page4 */
/* Page5 */
.page-5 {
  /* height: 100vh; */
  /* width: 100%; */
  padding: 6vh 0;
  /* background-color: aqua; */
}
.choices-container .icon {
  display: flex;
  /* align-items: center; */
  /* align-content: center; */
  justify-content: center;
}
.choices-container {
  display: flex;
  justify-content: space-between;
  gap: 1.5vw;
  padding: 0 1.5vw;
}
.choices-container section {
  border-radius: 15px;
  padding: 4vh 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 6px;
}
/* .p5-text-area {
  padding: 1vh 1vw;
} */
.p5-text-area h3,
.p5-text-area p {
  text-align: center;
}
.p5-text-area h3 {
  margin-bottom: 2vh;
}
/* End Page5 */
/* Page6 */
/* .page-6 { */
/* height: 100vh; */
/* width: 100%; */
/* background-color: burlywood; */
/* } */
.page6-container {
  padding: 2.3vh 3.9vw; /*0.8vh 4.2*/
}
.page6-headline {
  display: flex;
  padding: 4vmin;
}
.page6-headline sub {
  font-weight: 400;
  font-size: 45%;
  color: darkslategray;
  padding-left: 1vw;
}
.page6-headline h1 > span {
  font-size: small;
  font-weight: 400;
  padding-left: 1vw;
}
.gallery {
  display: flex;
  /* height: 90vh; */
  height: 80vh;
  width: 90vw;
  gap: 1vw;
  /* background-color: black; */
}
.gallery-images {
  display: flex;
  gap: 2%;
  flex-direction: column;
}
.gallery-images .h-1 {
  /* background-color: aqua; */
  width: 29.5vw;
  /* height: 29%; */
  height: 39%;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 6px;
}
.gallery-images .h-2 {
  /* height: 69%; */
  height: 59%;
  width: 29.5vw;
  /* background-color: red; */
  overflow: hidden;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 6px;
}
.gallery-images .h-2 > img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  /* overflow: hidden; */
  /* border-radius: 12px; */
}
.gallery-images .h-1 > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* overflow: hidden; */
  /* border-radius: 12px; */
}
/* .gallery img {
  object-fit: cover;
  width: 100%;
} */
/* End Page6 */
