@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Header */
header {
  /* height: 7vh; */
  height: 6vh;
  display: flex;
  padding: 0 2vw;
  background-color: aqua;
  align-items: center;
  overflow: hidden;
}
header img {
  width: 16vmin;
  min-width: 90px;
  mix-blend-mode: multiply;
  object-fit: contain;
}
/* End Header */
/* Main */

main {
  height: 100%;
  width: 100%;
  /* position: relative; */
}
/* End Main */
/* Page1 */
.page-1 {
  display: flex;
  height: 94vh;
  position: relative;
  /* width: 100vw; */
  width: 100%;
  /* overflow: hidden; */
}
.page-1 .container {
  height: 100%;
  width: 100%;

  /* d  isplay: flex; */
  overflow: hidden;
  scroll-behavior: smooth;
  transition: all 1s ease;
}
.slides {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  /* padding: 20vh 0; */
  display: flex;
  justify-content: flex-start;
  background-position: center;
  align-items: center;
}
.slides > p {
  font-size: 12vmin;
  mix-blend-mode: overlay;
}
aside {
  /* float: left; */
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  gap: 10px;
  top: 45%;
  right: 1%;
  /* background-color: brown; */
}
aside div {
  border: 0;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  opacity: 0.5;
  background-color: black;
}
.page-2 .cards,
.up-img,
.down-img {
  display: flex;
  justify-content: center;
}
.up-img,
.down-img {
  position: relative;
}
aside .image-btn {
  opacity: 1;
}
/*End  Page1 */
/* Page2 */
.page-2 {
  /* background-color: brown; */
  /* height: 100vh; */
  padding: 5.7vh 0; /*-3.3*/
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.page-2 .container {
  width: 92vw;
}
.page-2 .card-container {
  display: flex;
  /* gap: 1%; */
  justify-content: space-between;
}
.page-2 img {
  width: 30vw; /*100%*/
  /* object-fit: fill; */
  height: 70vh; /*60*/
  vertical-align: bottom;
  /* object-fit: cover; */
  border-radius: 15px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
  /* width: 30vw; */
}
.page-2 .img,
.up-img > div,
.down-img > div {
  position: relative;
}
.img > button,
.up-img button,
.down-img button {
  position: absolute;
  top: 2%;
  right: 2%;
  padding: 1vh 1vw;
  color: blueviolet;
  border: none;
  border-radius: 1vw;
}

.page-2 .text-bottom,
.text-bottom-mid {
  position: absolute;
  bottom: 2%;
  left: 2%;
  right: 1%;
  color: blanchedalmond;
}
.page-2 .mid {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.mid img {
  height: 34.6vh; /*30*/
  /* width: 100%; */
  width: 30vw;
}
/* .page-2 h1 {
  font-weight: 600;
  font-size: 3vw;
} */
.text-align-center {
  text-align: center;
  /* line-height: 2; */
  margin: 1% 0;
}
/* End Page2 */
/* Page3 */
.page-3 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* height: 100vh; */
  padding: 11.5vh 0; /*-4.2vw*/
  width: 100%;
  /* background-color: blueviolet; */
}
.page3-container section {
  width: 90vw;
  display: flex;
  align-items: center;
}
.page3-container .left,
.page3-container .right {
  width: 50%;
}
.img-travel img {
  width: 100%;
  vertical-align: bottom;
  object-fit: contain;
}
/* -- */
.vmin3 {
  font-size: 3vmin;
}
.vmin6 {
  font-size: 6vmin;
}
/* -- */
.page3-container .right {
  padding: 3vw 0 3vw 3vw;
}
.points {
  display: flex;
  align-items: center;
  column-gap: 2vw;
}
.point-container {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  gap: 3vh;
}
.points-image {
  height: 6vmin;
  border: none;
}
.points-image img {
  height: 100%;
}
/* End Page3 */
/* Page4 */
.page-4 {
  /* height: 100vh;
  width: 100%; */
  /* background-color: blueviolet; */
  /* padding: 3vh 3vw; */
  padding: 8.2vh 0; /*8.2vh 11vw*/
}
.page4-container {
  display: flex;
  gap: 2vw;
  height: 70vh;
  padding: 0 2vw;
  align-items: center;
  /* justify-content: space-evenly; */
  /* overflow-x: scroll; */
  overflow: hidden;
  scroll-behavior: smooth;
  /* position: relative; */
}
.page4-container button {
  position: absolute;
  border: none;
  padding: 2vmin;
  font-size: 20px;
  font-weight: bolder;
  z-index: 5;
}
.left-arrow,
.right-arrow {
  background-color: gray;
  border-radius: 10px;
}
.left-arrow {
  left: 2vw;
}
.right-arrow {
  right: 2vw;
}
.destinations {
  width: 24vw;
  height: fit-content;
  background-color: azure;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
}
.dest-text {
  /* height: 10vh; */
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1vmin;
}
.dest-img img {
  height: 55vh;
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  /* width: 100%; */
  object-fit: fill;
}
.dest-text .head-line {
  display: flex;
  justify-content: space-between;
  padding: 0 4% 2% 4%;
}
/* End Page4 */
/* Page5 */
.page-5 {
  /* height: 100vh; */
  /* width: 100%; */
  padding: 6vh 0;
  /* background-color: aqua; */
}
.icon img {
  width: 20vmin;
}
.choices-container .icon {
  display: flex;
  /* align-items: center; */
  /* align-content: center; */
  justify-content: center;
}
.choices-container {
  display: flex;
  justify-content: space-between;
  gap: 1.5vw;
  padding: 0 1.5vw;
}
.choices-container section {
  border-radius: 15px;
  padding: 4vh 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
}
/* .p5-text-area {
  padding: 1vh 1vw;
} */
.p5-text-area h3,
.p5-text-area p {
  text-align: center;
}
.p5-text-area h3 {
  margin-bottom: 2vh;
}
/* End Page5 */
/* Page6 */
/* .page-6 { */
/* height: 100vh; */
/* width: 100%; */
/* background-color: burlywood; */
/* } */
.page-6 {
  display: flex;
  justify-content: space-evenly;
}
/* .page6-container { */
/*padding: 2.3vh 0;*/ /*0.8vh 4.2*/
/* } */
.page6-container {
  padding: 2.3vh 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.page6-headline {
  display: flex;
  padding: 4vmin;
}
.page6-headline sub {
  font-weight: 400;
  font-size: 45%;
  color: darkslategray;
  padding-left: 1vw;
}
.page6-headline h1 > span {
  font-size: small;
  font-weight: 400;
  padding-left: 1vw;
}
.gallery {
  display: flex;
  /* height: 90vh; */
  height: 80vh;
  /* width: 90vw; */
  gap: 1vw;
  /* background-color: black; */
}
.gallery-images {
  display: flex;
  gap: 2%;
  flex-direction: column;
}
.gallery-images .h-1 {
  /* background-color: aqua; */
  width: 29.5vw;
  /* height: 29%; */
  height: 39%;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
}
.gallery-images .h-2 {
  /* height: 69%; */
  height: 59%;
  width: 29.5vw;
  /* background-color: red; */
  overflow: hidden;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
}
.gallery-images .h-2 > img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  /* overflow: hidden; */
  /* border-radius: 12px; */
}
.gallery-images .h-1 > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* overflow: hidden; */
  /* border-radius: 12px; */
}
/* .gallery img {
  object-fit: cover;
  width: 100%;
} */
/* End Page6 */
/* Page7 */
.page-7 {
  /* height: 100vh; */
  width: 100%;
  /* background-color: blanchedalmond; */
  display: flex;
  justify-content: space-around;
  padding: 10vh 0;
}
.page-7 h1 {
  padding-right: 16%;
}
.page-7 .left,
.page-7 .right {
  width: 45%;
  height: 44vh;
  /* background-color: aqua; */
}
.page-7 .left {
  display: flex;
  flex-direction: column;
  padding: 2vw;
  padding-top: 0;
}
.page-7 .right {
  display: flex;
  overflow-y: scroll;
  scroll-behavior: smooth;
  flex-direction: column;
  position: relative;
  gap: 2%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
}
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.z-3 {
  z-index: 3;
}
.customer-card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px -4px 20px 0px;
  /* padding: 5vh 5vw; */
  padding: 8%;
  background-color: red;
  position: sticky;
  top: 0;
  background-color: azure;
}
.customer-img img {
  height: 10vmin;
  width: 10vmin;
  object-fit: cover;
  border-radius: 5vmin;
}
/* .customer-text{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
} */
.customer-text p {
  margin-bottom: 2vh;
}
/* End Page7 */
/* Page8 */
.page8 {
  /* height: 100vh; */
  width: 100%;
  /* background-color: aqua; */
}
.page8-headings {
  text-align: center;
}
.page8-slides {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1vw;
  padding: 0 1vw;
}
.page8-slides img {
  /* width: 100%; */
  width: 29vw;
  border-radius: 15px;
}
.page8-slides .left,
.page8-slides .right {
  display: flex;
  margin-bottom: 2vh;
}
.page8 .container,
.page8-headings {
  padding: 2vh 2vw;
}
.page8-slides .mid-info {
  display: flex;
  padding: 0 1vw;
  flex-direction: column;
  row-gap: 0.4vh;
}
.mid-info small {
  width: max-content;
  padding: 0.2vh 0.4vw;
  background: orange;
}
/* End page8 */
/* Page9 */
.page9-container {
  /* height: 100%;
  width: 100%; */
  padding: 5vh 5vw;
}
.page9-container iframe {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
}
/*End Page9 */
/* Page10 */
.Box {
  padding: 80px 60px;
  background: black;
  /* position: absolute; */
  /* bottom: 0; */
  width: 100%;
}
@media (max-width: 1000px) {
  .Box {
    padding: 70px 30px;
  }
  .Row {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
.p10Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}
.Column {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 60px;
}
.Row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
  grid-gap: 20px;
}
.FooterLink {
  color: #fff;
  margin-bottom: 20px;
  font-size: 18px;
  text-decoration: none;
}
.FooterLink:hover {
  color: rgb(0, 72, 114);
  transition: 200ms ease-in;
}
.Headings {
  font-size: 24px;
  color: #fff;
  margin-bottom: 40px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .Box {
    padding-left: 8vmin;
    padding-right: 8vmin;
  }
  .Column {
    margin-left: 0;
  }
}
/* End page10 */
/* responsive web */
@media (max-width: 767px) {
  .page-2 {
    padding: 3vh 0;
  }
  .page-2 .container {
    display: flex;
    flex-direction: column;
  }
  .page-2 .cards {
    flex-grow: 1;
    flex-basis: 100%;
    flex-shrink: 0;
  }
  /* .page-2 .cards .img,
  .page-2 .cards .up-img,
  .page-2 .cards .down-img {
    display: flex;
    justify-content: center;
  } */
  .page-2 .cards img {
    /* width: auto;
    height: 100%; */
    /* width: 100%; */
    width: 90vmin;
    object-fit: fill;
  }
  .page-2 .card-container {
    flex-wrap: wrap;
    gap: 2vh;
  }
  /* Page3 */
  .page-3 {
    padding: 3vh 0;
  }
  .page3-container section {
    flex-wrap: wrap;
    justify-content: center;
  }
  .page3-container .left,
  .page3-container .right {
    width: 100%;
  }
  /* page4 */
  .page-4 {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .page4-container {
    overflow-x: scroll;
  }
  .center-destination {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 100%;
  }
  /* .page4-container {
    gap: 6vw; */
  /* padding: 0 6vw; */
  /* } */
  .destinations {
    /* width: auto; */
    /* min-width: 45vmin; */
    min-width: 50%;
  }
  /* page5 */
  .choices-container {
    /* display: flex; */
    justify-content: center;
    /* gap: 1.5vw; */
    /* padding: 0 1.5vw; */
    flex-wrap: wrap;
  }
  .choices-container section {
    padding: 4vh 2vw;
  }
  /* page7 */
  .page-7 {
    flex-wrap: wrap;
    padding: 2vh 0;
  }
  .page-7 .left {
    width: 100%;
    height: max-content;
    padding: 2vh 2vw;
    align-items: center;
  }
  .page-7 h1 {
    padding-right: 0;
  }
  .page-7 .right {
    width: 90%;
    height: 270px;
    /* padding: 2vh 2vw; */
  }
  .vmin3 {
    font-size: 4vmin;
  }
  .dest-img img {
    /* width: 90vmin; */
    /* width: 45vmin; */
    object-fit: fill;
  }
  /* .page-7 .right {
    width: 90%;
    height: 34vmax;
    padding: 2vh 2vw;
  } */
  /* Page8 */
  .page8-slides .left,
  .page8-slides .right {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .page8-slides img {
    /* width: 100%; */
    width: 100%;
  }
  /* End page8 */
}
@media (max-width: 1045px) {
  .page8-slides {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .destinations {
    /* width: auto; */
    /* min-width: 45vmin; */
    min-width: 80%;
  }
}
